$sub-color: grey;
$main-color: black;
@mixin shrinkLabel {
  top: 4px;
  font-size: 10px;
  color: $sub-color;
}
@mixin shrinkIcon {
  top: 2px;
  font-size: 18px;
  color: $sub-color;
}
.form-input {
  position: relative;
  .icon {
    position: absolute;
    pointer-events: none;
    left: 5px;
    bottom: 12px;
    font-size: 20px;
    color: grey;
    transition: 300ms ease all;
  }
  .close {
    position: absolute;
    left: 220px;
    bottom: 12px;
    font-size: 20px;
    color: grey;
    &:hover {
      cursor: pointer;
    }
  }
  .email-input {
    background-color: #eff0f6;
    height: 45px;
    width: 60%;
    border: none;
    border-radius: 9px;
    padding-left: 32px;
    padding-top: 7px;
    font-family: sans-serif;
    font-weight: bolder;
    &:focus {
      outline: none;
      border: 2px solid #5f2eea;
    }
    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }
  .form-input-label {
    color: $sub-color;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 32px;
    top: 12px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
