.picture {
  width: 23vw;
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  img {
    margin-left: 25px;
    margin-right: 5px;
  }
  .im1 {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border-radius: 50%;
  }
  .im2 {
    width: 38px;
    height: 38px;
    border-radius: 30%;
  }
  .im3 {
    width: 45px;
    height: 45px;
    border-radius: 20%;
  }
  .im4 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
  }
}
